@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?bic415');
    src:  url('../fonts/icomoon.eot?bic415#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?bic415') format('truetype'),
      url('../fonts/icomoon.woff?bic415') format('woff'),
      url('../fonts/icomoon.svg?bic415#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

  /* @font-face {
    font-family: 'icomoon';
    src:  url('../fonts_2/icomoon.eot?mwbzyx');
    src:  url('../fonts_2/icomoon.eot?mwbzyx#iefix') format('embedded-opentype'),
      url('../fonts_2/icomoon.ttf?mwbzyx') format('truetype'),
      url('../fonts_2/icomoon.woff?mwbzyx') format('woff'),
      url('../fonts_2/icomoon.svg?mwbzyx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    /* font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  
  /* .icon-email:before {
    content: "\e945";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-linkedin:before {
    content: "\eaca";
  }*/
*{
    margin: 0;
}  

html {
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: #FFFFFE;
    color: #464444;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
    /* text-transform: ; */
}
.menu{
    height: inherit;
}
.header ol{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.logo{
    margin:0;
}
.header a{
    color: #464444;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero{
    height: 390px;
    /* background-image: url(../Images/Hero.jpg); */
    background-color: #F7E9E3;
    /* background-size: 600px 390px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    color: #464444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-sentence{
    text-align: center;
    /* padding: 100px 140px 30px 140px; */
    font-family: lemonada, sans-serif;
    line-height: 1.5em;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -.2px;
    width: 510px;
    margin: 0 auto;
}
.hero-imageContainer{
    margin: 0;
    
}
.hero-image{
    object-fit: cover;
    border-radius: 30%;
}
.aboutme{
    background-color: #FFFFFE;
    /* margin: 0px 140px 30px 140px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
.profile{
    width: 50%;
    /* margin: 5px; */
}
.profile h2{
    color: #0E3150;
    margin-bottom: 10px;
}
.profile p{
    color: #464444;
}
.WhatIlovetodo{
    width: 50%;
}
.WhatIlovetodo h2{
    color: #0E3150;
    text-align: center;
    margin-bottom: 10px;
}
.lovetodo{
    display: flex;
    text-align: center;
    /* width: 600px; */
    height: 150px;
    justify-content: center;
      
}
.lovetodo-brown{
    border: 1px solid #707070;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    /* box-sizing: border-box; */
    background: #707070;
    margin: 5px;
    /* text-align: center; */
    /* line-height: 100px; */
    color: #FFFFFE;
    /* line-height: 80px;
    text-align: center; */
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.60);
}
.lovetodo-pink{
    border: 1px solid #FFC0C2;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin: 5px;
    /* box-sizing: border-box; */
    background: #FFC0C2;
    /* text-align: center; */
    /* line-height: 100px; */
    color: #FFFFFE;
    /* line-height: 80px;
    text-align: center; */
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.60);
}
.experience-list{   
    background-color: #6DC9C8;
    padding: 20px 0;    
}
.experience-list-title{
    background-color: #6DC9C8;
    margin: 0;
}
.experience-list-title h2{
    margin: 0;
    padding: 10px 0;
}

.experience-container{
    display: flex;
    flex-wrap: wrap;
}
.experience {
    margin: 1%;
    width: 40%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 15px solid #F7E9E3;
    /* margin: 20px 40px;
    margin-top: -40px; */
    background-color: white;
    /* position: relative; */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.68);
    
}
/* .experience-imageContainer{
    margin: 0;
} */
/* .experience-image-pm{
    width: 380px;
    height: 250px;
    object-fit: cover;
    margin: 0 0 0 3em;
}
.experience-image-PM{
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: 0 0 0 8.7em;
} */
/* .experience-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
} */
/* .experience-image-wd{
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 0 0 0 7.5em
} */

/* .experience-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
} */
.experience-title{
    margin-bottom: 10px;
}
.experience-description {
    margin-bottom: 10px;
}
.experience-button{
    background-color: #0E3150 ;
    color: white;
    border: 1px solid #0E3150;
    /* padding: 5px 20px; */
    border-radius: 5px;
    width: 100px;
    text-transform: uppercase;
    margin: 0 auto 15px;  
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.60);     
}
.experience-button a{
    text-decoration: none;
    color: white;
}
.skills{
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
    /* padding: 0 20px; */
}
/* .skills p::after {
    content: "|";
    padding: 5px;
} */
.contact {
    margin: 15px 0;
}
.contact h2{
    color: #0E3150;
    margin-bottom: 10px;
}
.form-and-social{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-and-social p{
    width: 50%;
}
.social{
    display: flex;
    /* justify-content: space-between; */
   align-self: baseline; 
   padding: 0 4em 0 0;
}
.social-link{
    width: 40px;
    height: 40px;s
    display: inline-block;
    margin: 0 10px;
}
.social-link.gmail{
    background-image: url('../images/gmail.svg');
}
.social-link.linkedin{
    background-image: url('../images/linkedin.svg');
}
.social-link.twitter{
    background-image: url('../images/twitter.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
    background-size: 40px 40px;
}
.social-link.cv{
    background-color: #0E3150;
    color: #FFFFFE;
    text-align: center;
    text-decoration: none;
    border-radius: 90px;
    align-self: flex-start;
    line-height: 40px;
    text-align: center;
}
/* .form-email label{
    width: 150px;
    margin: 10px 0;
}
.name-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 40px;
    display: flex;
}
.email-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 40px;
    display: flex;
}
.message-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 230px;
    display: flex;
}
.message-container label{
    width: 130px;
}
.input-name{
    border-radius: 5px;
    border: 1px solid #464444;
    padding: 5px 50px;
    margin: 5px;
    float: right;    
}
.input-email{
    border-radius: 5px;
    border: 1px solid #464444;
    padding: 5px 50px; 
    margin: 5px;
    float: right;    
}
.input-message{
    border-radius: 5px;
    border: 1px solid #464444;
    width: 200px;
    height: 200px;
    padding: 5px 50px 5px 5px;
    margin: 5px;
    float: right;    
}
.form-email{
    display: flex;
    /* margin: 100px 0 10px 0px; */
    /* justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
} */
/* .contact-button{
    background: #0E3150;
    color: #FFFFFE;
    border-radius: 5px;
    width: 150px;
    margin: 10px auto 0;
    padding: 5px 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0 0 0 30px;

} */

.container{
    /* width: 70vw; */
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    font-weight: ;
    flex-wrap: inherit;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(247, 233, 227, 1);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: #0E3150;    
}

/* Dado que estamos usando Desktop first, se recomienda empezar por el media query más grande */
@media screen and (max-width: 1024px){   
    .hero {
        height: auto;   
        position: relative;   
        overflow: hidden;
        padding: 2em;  
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
        position: relative;
        color: white;
    }
    .aboutme {
        margin: 1.2em;
    }
    .profile h2 {
        margin: .8em 0;
    }
    .WhatIlovetodo h2 {
        margin: .8em 0;
    }
    .experience {
        width: 87%;
        
    }
    .experience-list {
        padding: 1.2em;
    }
    .experience-title {
        margin-bottom: .8em;
    }
    .experience-description {
        margin-bottom: .8em;
    }
    .experience-button {
        margin: .8em;
    }
    /* .experience-image {
        width: 100%;
        margin: 0;
    }    */
    /* .contact-button {
        margin: 0 0 0 230px;
    } */
    .contact {
        padding: 1.2em;
    }
    .contact h2 {
        margin-bottom: .5em;
    }
}

@media screen and (max-width: 767px){
    h2 {
        font-size: 1.2em;
    }
    .burger-button{
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li {
        height: 50px;        
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 1.5em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo{
        text-align: center;
    }
    .menu{
        position: fixed;
        background-color: rgba(247, 233, 227, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active {
        left: 0;
    }
      
    .aboutme{
        display: block;
    }
    .profile {
        width: auto;
        font-size: 16px;
    }
    /* .profile h2{
        font-size: 1em;
    } */
    .profile p{
        font-size: .9em;
    }
    .WhatIlovetodo {
        width: auto;
        font-size: 16px;
    }
    /* .WhatIlovetodo h2{
        font-size: 1em;
    } */
    .lovetodo{
        font-size: 16px;
    }
    .lovetodo-brown .lovetodo-pink{
        width: 80px;
        height: 80px;
        margin: 5px;
        font-size: .8em;     
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    .experience-list {
        font-size: 16px;
    }
    .experience-list-title h2{
        /* font-size: 1em; */
        padding: 0;
    }
    .experience {
        width: auto;
        flex-shrink: initial; 
        padding: 1em;       
    }    
    /* .experience-image {
        width: 100%;
        margin: 0;
    }  */
    .experience-detail {
        font-size: 16px;
    }
    .experience-title{
        font-size: 1em;
    }   
    .experience-description {
        font-size: .9em;
    }
    .skills {
        font-size: .9em;
        
    }
    .social {
        /* flex-direction: column; */
        padding: 0;
        margin: 0 auto;
    }
    .social-link {
        width: 2.5em;
        height: 2.5em;
        margin: .5em;
    }
    /* .form-and-social{
        display: initial;
    } */
    .contact{
        font-size: 16px;
    }
    .form-and-social p{
        width: 100vw;
        font-size: .9em;
    }
    /* .contact h2{
        font-size: 1em;
    } */
    /* .name-container label{
        font-size: .8em;
    }
    .email-container label{
        font-size: .8em;
    }
    .message-container label{
        font-size: .8em;
    }
    .form-email {
        font-size: 16px;
    }
    .contact-button {
        font-size: 1em;
    } */
}


@media screen and (max-width: 480px) {   

    .hero-sentence{
        font-size: 1.5em;
        text-align: initial;
    }
    .experience-list-title{
        margin-bottom: .6em;
    }
    /* .experience-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    } */
    .experience-title {
        margin: .8em;
    }
    .aboutme {
        margin: .8em;
        padding: 0;
    }
    .skills {
        margin-top: .3px;
    }
    /* .name-container label{
        width: 7em;
    }
    .email-container label{
        width: 7em;
    }
    .message-container label{
        width: 7em;
    }
    .name-container {
        width: 75%;
        margin: 0;
    }
    .email-container {
        width: 75%;
        margin: 0;
    }
    .message-container {
        width: 75%;
        margin: 0;
    }
    .contact-button {
        margin: 0 auto;
    }
    .form-email {
        max-width: 75%;
    }
    .input-name {
        padding: 0;
    }
    .input-email {
        padding: 0;
    }
    .input-message {
        padding: 0;
    } */
}

@media screen and (max-width: 320px){    
    .skills {
        margin: 0 5%;
    }
    /* .input-name {
        padding: 0;
    }
    .input-email {
        padding: 0;
    }
    .input-message {
        padding: 0;
    } */
    .hero-sentence {
        font-size: 1.2em;        
    }
    .hero{
        padding: 2em 1em;
    }
    .WhatIlovetodo{
        margin-top: 2em;
    }

}