html {    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: #FFFFFE;
    color: #464444;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #707070;
    flex-wrap: wrap;
}
.menu{
    height: inherit;
}
.header ol{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.logo{
    margin:0;
}
.header a{
    color: #464444;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero{
    height: 390px;    
    background-color: #F7E9E3;  
    color: #464444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-sentence{
    text-align: center;    
    font-family: lemonada, sans-serif;
    line-height: 1.5em;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -.2px;
    width: 510px;
    margin: 0;
}
.hero-imageContainer{
    margin: 0;
}
.hero-image{
    object-fit: cover;
    padding: 0 150px 0 0;
}
.experience-container {
    border: 1px solid #FFC0C2;
    max-width: 900px;
    height: 300px;
    margin: 30px auto;    
}
.experince-sentence{
    max-width: 850px;
    /* height: 150px; */
    padding: 0 35px;    
}
.experience-image{
    margin: 0 0 0 300px;
}
/* .contact{
    background-color: #0E3150;
} */
.contact h2{
    color: #0E3150;
}
.form-and-social{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.social{
    display: flex;
    /* justify-content: space-between; */
   align-self: baseline; 
   /* padding: 40px 0px; */
}
.social-link{
    width: 40px;
    height: 40px;s
    display: inline-block;
    margin: 0 10px;
}
.social-link.gmail{
    background-image: url('../images/gmail.svg');
}
.social-link.linkedin{
    background-image: url('../images/linkedin.svg');
}
.social-link.twitter{
    background-image: url('../images/twitter.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
    background-size: 40px 40px;
}
.social-link.cv{
    background-color: #0E3150;
    color: #FFFFFE;
    text-align: center;
    text-decoration: none;
    border-radius: 90px;
    align-self: flex-start;
}
.form-email label{
    width: 150px;
    margin: 10px 0;
}
.name-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 40px;
    display: flex;
}
.email-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 40px;
    display: flex;
}
.message-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 230px;
    display: flex;
}
.message-container label{
    width: 130px;
}
.input-name{
    border-radius: 5px;
    border: 1px solid #464444;
    padding: 5px 50px;
    margin: 5px;
    float: right;    
}
.input-email{
    border-radius: 5px;
    border: 1px solid #464444;
    padding: 5px 50px; 
    margin: 5px;
    float: right;    
}
.input-message{
    border-radius: 5px;
    border: 1px solid #464444;
    width: 200px;
    height: 200px;
    padding: 5px 50px 5px 5px;
    margin: 5px;
    float: right;    
}
.form-email{
    display: flex;
    /* margin: 100px 0 10px 0px; */
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}
.contact-button{
    background: #0E3150;
    color: #FFFFFE;
    border-radius: 5px;
    width: 150px;
    margin: 10px auto 0;
    padding: 5px 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0 0 0 30px;
}
.container{
    /* width: 70vw; */
    max-width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    font-weight: ;
    flex-wrap: inherit;
}
@media screen and (max-width: 1024px){
    .contact-button {
        margin: 0 0 0 230px;
    }
    .hero {
        height: auto;   
        position: relative;   
        overflow: hidden;
        padding: 2em;  
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
        position: relative;
    }
    .experience-container{
        height: 100%;
    }
}

@media screen and (max-width: 767px){
    .header {
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li {
        height: 50px;        
    }
    .header a {
        justify-content: center;
    }
    .header .logo{
        text-align: center;
    }
    .experience-image{
        margin: 0 auto;
    }
    .social {
        flex-direction: column;
    }
    .social-link {
        width: 2.5em;
        height: 2.5em;
        margin: .5em;
    }   
    .contact{
        font-size: 16px;
    }
    .contact h2{
        font-size: 1em;
    }
    .name-container label{
        font-size: .8em;
    }
    .email-container label{
        font-size: .8em;
    }
    .message-container label{
        font-size: .8em;
    }
    .form-email {
        font-size: 16px;
    }
    .contact-button {
        font-size: 1em;
    }
}

@media screen and (max-width:480px){
    .hero-sentence{
        font-size: 1.5em;
        text-align: initial;
    }
    .experience-container{
        font-size: 16px;
    }
    
    .experience-container p{
        font-size: .8em;
    }
    .experience-container figure{
        margin: 0 4em;        
    }
    .name-container label{
        width: 7em;
    }
    .email-container label{
        width: 7em;
    }
    .message-container label{
        width: 7em;
    }
    .name-container {
        width: 75%;
        margin: 0;
    }
    .email-container {
        width: 75%;
        margin: 0;
    }
    .message-container {
        width: 75%;
        margin: 0;
    }
    .contact-button {
        margin: 0 auto;
    }
    .form-email {
        max-width: 75%;
    }
}

@media screen and (max-width: 320px){
    .input-name {
        padding: 0;
    }
    .input-email {
        padding: 0;
    }
    .input-message {
        padding: 0;
    }
    .hero-sentence {
        font-size: 1.2em;        
    }
    .hero{
        padding: 2em 1em;
    }
}