html {    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: #FFFFFE;
    color: #464444;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #707070;
}
.menu{
    height: inherit;
}
.header ol{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.logo{
    margin:0;
}
.header a{
    color: #464444;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero{
    height: 390px;    
    background-color: #F7E9E3;  
    color: #464444;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-sentence{
    text-align: center;    
    font-family: lemonada, sans-serif;
    line-height: 1.5em;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -.2px;
    width: 510px;
    margin: 0;
}
.hero-imageContainer{
    margin: 0;
}
.hero-image{
    object-fit: cover;
    padding: 0 150px 0 0;
}
.experience-container {
    border: 1px solid #FFC0C2;
    width: 900px;
    height: 300px;
    margin: 30px auto;    
}
.experince-sentence{
    width: 850px;
    /* height: 150px; */
    padding: 0 35px;    
}
.experience-image{
    margin: 0 0 0 300px;
}
.contact{
    background-color: #0E3150;
}
.contact h2{
    color: white;
    padding: 20px 0 0 0;
}
.form-and-social{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    /* justify-content: space-between; */
   align-self: baseline; 
   /* padding: 40px 0px; */
}
.social-link{
    width: 40px;
    height: 40px;s
    display: inline-block;
    margin: 0 10px;
}
.social-link.gmail{
    background-image: url('../Images/gmail.svg');
}
.social-link.linkedin{
    background-image: url('../images/linkedin.svg');
}
.social-link.twitter{
    background-image: url('../images/twitter.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
    background-size: 40px 40px;
}
.social-link.cv{
    background-color: #FFC0C2;
    color: #FFFFFE;
    text-align: center;
    text-decoration: none;
    border-radius: 90px;
    align-self: flex-start;
}
.form-email label{
    width: 150px;
    margin: 10px 0;
}
.name-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 40px;
    display: flex;
}
.name-container label{
    color: white;
}
.email-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 40px;
    display: flex;
}
.email-container label{
    color: white;
}
.message-container{
    width: 400px;
    margin: 0 0 0 50px;
    height: 200px;
    display: flex;
}
.message-container label{
    width: 130px;
    color: white;
}
.input-name{
    border-radius: 5px;
    border: 1px solid #464444;
    padding: 5px 50px;
    margin: 5px;
    float: right;    
}
.input-email{
    border-radius: 5px;
    border: 1px solid #464444;
    padding: 5px 50px; 
    margin: 5px;
    float: right;    
}
.input-message{
    border-radius: 5px;
    border: 1px solid #464444;
    width: 200px;
    height: 200px;
    padding: 5px 50px 5px 5px;
    margin: 5px;
    float: right;    
}
.form-email{
    display: flex;    
    justify-content: flex-start;
    align-content: space-between;
}
.contact-button{
    background: #FFC0C2;
    color: #FFFFFE;
    border-radius: 5px;
    width: 150px;
    margin: 10px auto 0;
    padding: 5px 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 260px 0 0 30px;

}
.container{
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    font-weight: ;
    flex-wrap: inherit;
}